.profile__edit-button {
    align-self: end;
    margin-bottom: 7px;
    padding: 0;
    background-color: #000;
    border: 0;
    height: 24px;
    transition: opacity 0.4s linear;
    background-image: url(../../../images/Edit\ Button.svg);
    background-size: 100%;
}

.profile__edit-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 660px) {
    .profile__edit-button {
        grid-column-start: 3;
        grid-column-end: 4;
        justify-self: start;
        margin-bottom: 6px;
        width: 5.625vw;
        height: 5.625vw;
    }
}
