.gallery__signature {
    padding: 25px 18px 25px 18px;
    display: flex;
    justify-content: space-between;
  }

  @media screen and (max-width: 660px) {
    .gallery__signature {
      padding-top: 21px;
    }
  }
