.gallery__like {
    width: 22px;
    height: 19px;
    padding: 0;
    border: 0;
    align-self: center;
    background-color: #FFF;
    background-image: url(../../../images/like.svg);
    transition: opacity 0.4s linear;
  }

  .gallery__like:hover {
    opacity: 0.5;
    cursor: pointer;
}
