.profile__user-avatar {
    max-width: 120px;
    border-radius: 120px;
}

@media screen and (max-width: 660px) {
    .profile__user-avatar {
        align-self: center;
        max-width: 37.5vw;
    }
}