.popup__title {
    width: 76.74%;
    margin: 32px auto 0;
    color: #000;
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 24px;
    font-weight: 900;
    line-height: normal;
}

@media screen and (max-width: 530px) {
    .popup__title {
    font-size: 5.625vw;
    width: 84.40%;
    margin-top: 25px;
    }
}